table {
    margin: 250px auto;
}
td
{
	text-align: center;
	color: #ffffff;
	width: 70px;
	background-color: #000000;
	opacity: 0.8;
}
body
{
	background-color: #000000;
	background-image: url('Screenshot_20190313-234108.png'); 
	background-size: 100%;
	background-repeat: no-repeat;
}
@media only screen and (max-width: 550px)
{
	table
	{
		font-size: 40vw;
		left: 
	}
}
